
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 30px;
}




           /*--Nav--*/
.nav-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #c5cac4;
}
.logo-container{
    display: grid;
    grid-template-columns: 30px 30px;
    padding: 15px;
}
.link-container{
    display: grid;
    grid-template-columns: 100px 50px 70px 60px;
    justify-content: end;
    align-content: center;
}
.link-container a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 15px;
}
                /*--Features--*/

.nike-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

.nike-logo{
    padding: 10px;
}
.feature{
    display: grid;
    grid-template-columns: 120px 50px 60px 60px 60px 70px;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.feature div{
    font-size: 15px;
}
.feature a{
    text-decoration: none;
    color: black;
}

/*--ICON--*/

.icon{
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
    align-content: center;
}

/*---Search-box---------*/

.container .input{
	border: 0;
	outline: none;
	color: #3f3e3e;
}

.search_wrap{
	width: 200px;
	/*margin: 38px auto;*/
    padding: 10px;;
}



.search_wrap .search_box{
	position: relative;
	width: 250px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 15px;
    color: #3d3d3f;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #c5cac4;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #3d3d3f;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	font-size: 20px;
}



.search_wrap.search_wrap_4 .search_box .input{
	padding-left: 80px;
}


.search_wrap.search_wrap_4 .search_box .input
{
	border-radius: 50px;
}



.search_wrap.search_wrap_4 .search_box .btn{
	left: 0px;
	border-radius: 50%;
}

/*--joinnow---*/

.container_join_now{
    display: grid;
    grid-template-columns: 500px ;
    background-color: #c5cac4 ;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.container_join_now a{
    color: black;
}

.container_join_now .text01 {
    font-size: 17px;
}

/* section */
#section-1 img{
    
        display: block;         
        width: 100%;
        height: auto;

}

/*--section-a-----*/

#section-a h1{
    font-weight:700;
    font-size: 30px;

}
#section-a a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#section-a{
    padding-top: 30px;
    height: 200px;
}
#section-a .btn{
    background: rgb(0, 0, 0);
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    position: relative;
    top: 20px;
}

/*--section-b-----*/

.content-wrap-grid{
    
   display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
   
}

.boxes{
    position: relative;
} 
.position{
position: absolute;
bottom: 50px;
left: 60px;
}
.position .btn svg{
    position: relative;
    top: 6px;
    right: 5px;
}

#section-b h1{ 
    padding: 25px;
    text-align: left;
}

#section-b .btn{
    
    bottom: 100px;
    background: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    outline: none;
}

#section-b .btn:hover{
    background: rgb(210, 223, 37);
    color: rgb(255, 255, 255);
}

/*---Section-c*/


#section-c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#section-c .tag{
    grid-column: 1/ span 2;
    grid-row: 1;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}
#section-c .fa-icon{
    grid-column: 2/ span 2;
    grid-row: 1;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#section-c .fa-icon .btn{
    border: 1px solid #3d3d3f;
    padding: 10px;
    background-color: #3d3d3f;
    color: white;
}

#section-c .carousel{
    grid-column:  span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 10px;
    
}

/*---Section-d---*/

#section-d{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#section-d .heading{
    grid-column: span 3;
    grid-row: 1;
}
#section-d .heading h2{
    line-height: 100px;
    text-align: left;
    padding-left: 70px;
}

#section-d .content h4{
    font-size: xx-large;
    font-weight: 700;
    padding-top: 40px;
  
}
#section-d .content p{
    padding-top: 10px;
}

#section-d .button{
    padding-top: 20px;
    padding-left: 10px;
}
#section-d .banner{
    grid-column: span 3;
    grid-row: 2;
}
/*#section-d .banner img{
    width: 100%;
}*/
#section-d .content{
    grid-column: 2/2;
    grid-row: 3;
}
#section-d .button{
    grid-column: 2/2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

#section-d .btn{
   border: 1px solid black;
   background: black;
   color: white;
   border-radius: 25px;
   text-decoration: none;
   padding: 10px;
   
}

/*---Section-e---*/

#section-e{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 50px;
}

/*#section-d .heading{
    grid-column: span 3;
    grid-row: 1;
}*/

/*#section-d .heading h2{
    line-height: 100px;
    text-align: left;
    padding-left: 70px;
}*/

#section-e .content h4{
    font-size: xx-large;
    font-weight: 700;
    padding-top: 40px;
  
}
#section-e .content p{
    padding-top: 10px;
}

#section-e .button{
    padding-top: 20px;
    padding-left: 10px;
}
#section-e .banner{
    grid-column: span 3;
    grid-row: 2;
}
/*#section-d .banner img{
    width: 100%;
}*/
#section-e .content{
    grid-column: 2/2;
    grid-row: 3;
}
#section-e .button{
    grid-column: 2/2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

#section-e .btn{
   border: 1px solid black;
   background: black;
   color: white;
   border-radius: 25px;
   text-decoration: none;
   padding: 10px;
   
}


/*--Media-Queries--*/

@media(max-width: 700px){
 
    .nike-container .search-box,
    .nike-container .icon{

        display:none;
    }

    .link-container{
        display: none;
    }

}

@media(max-width: 700px){
    #section-d .button,
    #section-e .button
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

    