
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 30px;
    
}
/*--responsive nav--*/
.responsive{
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.responsive .part-1{
    
  display: grid;
  padding-left: 10px;
    
}
.responsive .part-2{
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px ;
    align-content: center;
    justify-content: end;
    padding-right: 15px;
}


           /*--Nav--*/
.nav-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #c5cac4;
}
.logo-container{
    display: grid;
    grid-template-columns: 30px 30px;
    padding: 15px;
}
.link-container{
    display: grid;
    grid-template-columns: 100px 50px 70px 60px;
    justify-content: end;
    align-content: center;
}
.link-container a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 15px;
}
                /*--Features--*/

.nike-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; 
}

.nike-logo{
    padding: 10px;
}
.feature{
    display: grid;
    grid-template-columns: 120px 50px 60px 60px 60px 70px;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.feature div{
    font-size: 15px;
}
.feature a{
    text-decoration: none;
    color: black;
}

/*--ICON--*/

.icon{
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
    align-content: center;
}

/*---Search-box---------*/

.container .input{
	border: 0;
	outline: none;
	color: #3f3e3e;
}

.search_wrap{
	width: 200px;
	/*margin: 38px auto;*/
    padding: 10px;;
}



.search_wrap .search_box{
	position: relative;
	width: 250px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 15px;
    color: #3d3d3f;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #c5cac4;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #3d3d3f;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	font-size: 20px;
}



.search_wrap.search_wrap_4 .search_box .input{
	padding-left: 80px;
}


.search_wrap.search_wrap_4 .search_box .input
{
	border-radius: 50px;
}



.search_wrap.search_wrap_4 .search_box .btn{
	left: 0px;
	border-radius: 50%;
}

/*--joinnow---*/

.container_join_now{
    display: grid;
    grid-template-columns: 500px ;
    background-color: #c5cac4 ;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: white;

}

.container_join_now a{
    color: black;
}

.container_join_now .text01 {
    font-size: 17px;
}

/* section */
#section-1 img{
    
        display: block;         
        width: 100%;
        height: auto;

}

/*--section-a-----*/

#section-a h1{
    font-weight:700;
    font-size: 30px;

}
#section-a a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#section-a{
    padding-top: 60px;
    height: 200px;
    line-height: 40px;
}
#section-a .btn{
    background: rgb(0, 0, 0);
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    position: relative;
    top: 20px;
}

/*--section-b-----*/
#section-b{
    padding-top: 40px;
}
.content-wrap-grid{
    
   display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
   
}

.boxes{
    position: relative;
} 
.position{
position: absolute;
bottom: 50px;
left: 60px;
}
.position .btn svg{
    position: relative;
    top: 6px;
    right: 5px;
}

#section-b h1{ 
    padding: 25px;
    text-align: left;
}

#section-b .btn{
    
    bottom: 100px;
    background: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    outline: none;
}

#section-b .btn:hover{
    background: rgb(210, 223, 37);
    color: rgb(255, 255, 255);
}
#section-b img{
    width:100%;
 }


/*---Section-c*/


#section-c{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#section-c .tag{
    grid-column: 1/ span 2;
    grid-row: 1;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}
#section-c .fa-icon{
    grid-column: 2/ span 2;
    grid-row: 1;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#section-c .fa-icon .btn{
    border: 1px solid #3d3d3f;
    padding: 10px;
    background-color: #3d3d3f;
    color: white;
}

#section-c .carousel{
    grid-column:  span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 10px;
    
}
#section-c img{
    width:100%;
 }

/*---Section-d---*/

#section-d{
    padding-top: 30px ;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#section-d .heading{
    grid-column: span 3;
    grid-row: 1;
}
#section-d .heading h2{
    line-height: 100px;
    text-align: left;
    padding-left: 30px;
}

#section-d .content h4{
    font-size: xx-large;
    font-weight: 700;
    padding-top: 40px;
  
}
#section-d .content p{
    padding-top: 10px;
}

#section-d .button{
    padding-top: 20px;
    padding-left: 10px;
}
#section-d .banner{
    grid-column: span 3;
    grid-row: 2;
}
/*#section-d .banner img{
    width: 100%;
}*/
#section-d .content{
    grid-column: 2/2;
    grid-row: 3;
}
#section-d .button{
    grid-column: 2/2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

#section-d .btn{
   border: 1px solid black;
   background: black;
   color: white;
   border-radius: 25px;
   text-decoration: none;
   padding: 10px;
   
}

#section-d img{
    width:100%;
 }

/*---Section-e---*/

#section-e{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 50px;
}

/*#section-d .heading{
    grid-column: span 3;
    grid-row: 1;
}*/

/*#section-d .heading h2{
    line-height: 100px;
    text-align: left;
    padding-left: 70px;
}*/

#section-e .content h4{
    font-size: xx-large;
    font-weight: 700;
    padding-top: 40px;
  
}
#section-e .content p{
    padding-top: 10px;
}

#section-e .button{
    padding-top: 20px;
    padding-left: 10px;
}
#section-e .banner{
    grid-column: span 3;
    grid-row: 2;
}
/*#section-d .banner img{
    width: 100%;
}*/
#section-e .content{
    grid-column: 2/2;
    grid-row: 3;
}
#section-e .button{
    grid-column: 2/2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

#section-e .btn{
   border: 1px solid black;
   background: black;
   color: white;
   border-radius: 25px;
   text-decoration: none;
   padding: 10px;
   
}
#section-e img{
    width:100%;
 }

/*---section-f--*/

#section-f{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#section-f .heading{
    grid-column: span 2;
    grid-row: 1;
}
#section-f .content{
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}

#section-f .heading{
    text-align: left;
    padding-left: 70px;
    line-height: 60px;
}

#section-f .btn{
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    padding: 2px 15px;
    
 }

 #section-f .left{
    position: relative;
 }
 #section-f .left p{
    color: white;
    position: absolute;
    bottom: 125px;
    left: 60px;
 }

 #section-f .left .btn{
    position: absolute;
    bottom: 80px;
    left: 60px;
 }

 #section-f .right{
    position: relative;
 }
 #section-f .right p{
    color: white;
    position: absolute;
    bottom: 125px;
    left: 60px;
 }

 #section-f .right .btn{
    position: absolute;
    bottom: 80px;
    left: 60px;
 }
 #section-f img{
    width:100%;
 }

/*--section-g--*/

#section-g{
    padding-top: 40px;
    position: relative;
}

#section-g .banner{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
#section-g img{ 

    grid-column: 2/3;
    grid-row: 1;
}
#section-g a{
    grid-column:2/3 ;
    grid-row: 1;
}

#section-g .btn{
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    left: 590px;

}

/*---Section-h---*/
#section-h{
    padding-top: 40px;
    
}

#section-h .banner img{
    width:100%;  
}
#section-h h3{
    text-align: left;
   padding-left: 20px;
   line-height: 80px;
   
}

#section-h .content01{
    padding-top: 30px;
    line-height: 35px;
}

#section-h .btn{
    background: black;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px 10px;
}

/*--Section-i--*/

#section-i{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
}
#section-i .heading{
    grid-column: 2/3;
    grid-row: 1;
    text-align: left;
    padding-left: 30px;
    line-height: 80px;
    font-size: 30px;
}
#section-i .box p{
   text-align: left;
   padding-left: 30px;
}
#section-i .box{
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*--section-j---*/
#section-j {
    line-height: 40px;
    padding-top: 50px;
    position: relative;
    
}

#section-j .content {
 position: absolute;
 bottom: 70px;
 left: 500px;
 color:rgb(255, 255, 255);
}

#section-j .content{

}

#section-j .btn{
    background: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
    
}

/*--section-k---*/

#section-k h1{
    text-align: left;
    padding-left: 65px;
}


#section-k {
    line-height: 50px;
    padding-top: 50px;
    position: relative;
    
}

#section-k .content {
 position: absolute;
 bottom: 70px;
 left: 150px;
 color:rgb(255, 255, 255);
}

#section-k .content h1{
    padding-right: 60px;
  }

#section-k .btn{
    background: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
    
}

/*--section-l--*/

#section-l{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#section-l .box{
    position: relative;
}

#section-l .shape{
   
   position: absolute;
   left: 25px;
   bottom: 30px;
   text-align: left;
   font-size: 20px;
}

/*--Section-M--*/

#section-m{
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto  auto auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
    line-height: 40px;
}
#section-m .Featured{
    grid-column: 2/3;
}
#section-m .Shoes{
    grid-column: 4/5;
}
#section-m .Clothing{
    grid-column: 6/7;
}
#section-m .Kids{
    grid-column: 8/9;
}

/*--Section-N--*/

#section-n{
    margin-top: 100px;
    padding: 25px;
    background: black;
    color:#fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    
   
}

#section-n .Gift{
    grid-column: 2/3;
}

#section-n .Help{
    grid-column: 3/4;
}

#section-n .About{
    grid-column: 4/5;
}

#section-n .icon{
    grid-column: 5/6;
}


#section-n .icon{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: end;
    align-content: start;
}

#section-o{
    background: black;
    color:#7E7E7E;
    font-size: 12px;
    display: grid;
    grid-template-columns: auto auto;
}

#section-o .part-1 .o{
    font-size: 15px;
    color: white;
}
#section-o a{
    text-decoration: none;
    color:#7E7E7E;
}

#section-o .part-1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap:40px;
}
#section-o .part-2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap:20px;
}



/*--Media-Queries--*/
@media(min-width: 700px){
.responsive{
    display: none;
}
}

@media(max-width: 700px){
 
    .nav-container,
    .nike-container .search-box,
    .nike-container .icon,
    .link-container, 
     #section-b .box-3, 
    .nike-container
    
    {

        display:none;
    }

    .container_join_now .text01{
        font-size: small;
    }


}

@media(max-width: 700px){
    #section-d .button,
    #section-e .button
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

   /*--section-g--*/

    #section-g{
        padding-top: 40px;
        position: relative;
    }
    
    #section-g .banner{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    #section-g img{ 
    
        grid-column: 2/3;
        grid-row: 1;
    }
    #section-g a{
        grid-column:2/3 ;
        grid-row: 1;
    }
    
    #section-g .btn{
        display: flex;
        flex-direction: row;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 25px;
        width: 180px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        position: absolute;
        bottom: 50px;
        left: 150px;
    
    }

/*--section-j--*/

#section-j .banner{
    position: relative;
}
  #section-j .content{
    position: absolute;
    left: 100px;
    bottom: 70px;
    width: 300px;
  }  
  #section-j h1{
    font-size: 25px;
  }
  #section-j p{
    font-size: 10px;
  }
  #section-j .btn{
    font-size: 10px;
  }

  
  /*--section-k--*/

#section-k .banner{
    position: relative;
}
  #section-k .content{
    position: absolute;
    left: 60px;
    bottom: 70px;
    text-align: center;
    
  }  
  #section-k .content h1{
    padding-right: 60px;
  }
  #section-k .banner h1{
    padding-left: 0px;
    padding-bottom: 10px ;
  }

  /*--Section-N--*/

#section-n{
    margin-top: 100px;
    padding: 25px;
    background: black;
    color:#fff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
    gap: 20px;
   
}



#section-n{
    font-size: 10px;
}
#section-n .icon{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: end;
    align-content: start;
}

#section-o{
    font-size: 8px;
    
}
#section-o .part-1 .o{
    font-size: 8px;
}
#section-o .part-1 .o svg{
    padding-top: 7px;
    width: 14px;
}

}

    